* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 968px;
  margin: 0 auto;
}
a {
  text-decoration: none;
  color: black;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
/* Navbar styles */
#nav-header {
  width: 100%;
  height: 60px;
  text-transform: uppercase;
  box-shadow: 0px 3px 4px 0 rgba(0, 0, 0, 0.03);
}
#nav-header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 100%;
}
#nav-header nav {
  display: flex;
  align-items: center;
}
#nav-header nav ul {
  display: flex;
  list-style: none;
}
#nav-header nav ul li {
  margin: 10px;
  font-weight: 700;
}

/* Featured Section */
#featured-styles {
  display: grid;
  grid-template-columns: repeat(3, 320px);
  grid-template-rows: 178px 178px;
  grid-column-gap: 4px;
  grid-row-gap: 4px;
  margin: 40px 0;
}

#featured-main {
  grid-column: 1 / 3;
  grid-row: 1 / 3;
  position: relative;
  overflow: hidden;
}
#featured-main:hover figcaption,
.featured-secondary:hover figcaption {
  color: #f7102b;
  transition: all 0.4s ease;
}

#featured-main a,
.featured-secondary a {
  display: block;
  height: 100%;
}
#featured-main img,
.featured-secondary img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  filter: brightness(70%);
}
#featured-main figcaption,
.featured-secondary figcaption {
  position: absolute;
  left: 0;
  bottom: 0;
  color: #fff;
  padding: 12px;
}
.featured-secondary {
  position: relative;
  top: 0;
  left: 0;
  overflow: hidden;
}

/* COLUMN LAYOUT */
.two-column-layout {
  display: flex;
}

/* Cards Layout and Styles */
.cards-layout {
  width: 650px;
}

.cards-layout h2 {
  font-size: 14px;
  line-height: 32px;
  font-weight: 700;
  text-transform: uppercase;
  border-bottom: 1px solid #e6e6e6;
  border-top: 1px solid #e6e6e6;
  margin-bottom: 30px;
  padding: 0 14px;
  margin-right: 50px;
  margin-bottom: 28px;
  background: rgb(251, 251, 251);
  color: #0090ff;
}
.card-styles {
  margin-bottom: 30px;
  padding-bottom: 25px;
  border-bottom: 1px solid #e6e6e6;
  margin-right: 50px;
  display: flex;
  position: relative;
}

.card-topic {
  font-size: 12px;
  line-height: 17px;
  color: #8f9698;
  text-transform: uppercase;
  font-weight: 700;
}
.card-image {
  width: 220px;
  height: 123.75px;
  object-fit: cover;
  margin-right: 25px;
  cursor: pointer;
}
.card-image:hover {
  filter: grayscale(80%);
  transition: all 0.7s ease;
}
.card-styles figcaption {
}
.card-styles figcaption h3 {
  color: #142025;
  font-size: 24px;
  cursor: pointer;
}
.card-styles figcaption h3:hover {
  color: #f7102b;
  transition: all 0.4s ease;
}

/* SIDEBAR STYLES */
.sidebar {
  width: 320px;
}
.sidebar-header {
  background: #000;
  color: #fff;
  font-size: 12px;
  line-height: 34px;
  text-transform: uppercase;
  margin-bottom: 14px;
  padding: 0 14px;
  font-weight: 700;
}
.sidebar-emails {
  background: rgb(249, 250, 251);
  padding: 36px;
  text-align: center;
  margin-top: 28px;
  margin-bottom: 44px;
  border: 1px solid rgb(212, 212, 212);
  border-radius: 4px;
}
.sidebar-emails h2 {
  font-size: 26px;
  line-height: 39px;
  color: #4d4d4d;
  margin-bottom: 22px;
}
.sidebar-emails p {
  font-size: 14px;
  line-height: 21px;
  color: #686868;
  margin-bottom: 21px;
}
.sidebar-emails input[type="text"] {
  padding: 12px;
  height: 32px;
  font-size: 15px;
  line-height: 21px;
  color: #000;
  margin-bottom: 16px;
  width: 100%;
  border: 1px solid rgb(212, 212, 212);
  border-radius: 2px;
}
.sidebar-emails input[type="submit"] {
  background: rgb(250, 208, 0);
  color: #4a4a4a;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 700;
  border: none;
  padding: 8px 28px;
  width: 100%;
  margin-bottom: 12px;
  border-radius: 2px;
  cursor: pointer;
}
.sidebar-emails input[type="submit"]:hover {
  background: #e1bb00;
}
.sidebar-emails span {
  font-size: 11px;
  color: #4d4d4d;
}
.sidebar-popular {
}

/* SIDEBAR CARDS */
.card-small-styles {
  display: flex;
  padding: 16px 0;
  border-bottom: 1px solid #eee;
}
.card-small-image {
  width: 104px;
  height: 58.5px;
  margin-right: 18px;
}
.card-small-image:hover {
  filter: grayscale(80%);
  transition: all 0.7s ease;
}
.card-small-styles h3 {
  font-size: 14px;
  color: #161616;
}
.card-small-topic {
  font-size: 11px;
  color: #4d4d4d;
  text-transform: uppercase;
}
.card-small-styles figcaption h3:hover {
  color: #f7102b;
  transition: all 0.4s ease;
}
/* return (
  <figure className="card-small-styles">
    <Link to={slug}>
      <Image
        className="card-small-image"
        fluid={frontmatter.featuredImage.childImageSharp.fluid}
      />
    </Link>

    <figcaption>
      <Link to={slug}>
        <h3>{frontmatter.title}</h3>
      </Link>
      <span className="card-small-topic">{frontmatter.category}</span>
    </figcaption>
  </figure> */
