/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 968px;
  margin: 0 auto;
}
a {
  text-decoration: none;
  color: black;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/* Multi-use Components */
.tag {
  background: #000;
  color: #fff;
  padding: 5px 12px;
  margin-right: 12px;
  border: 1px solid #000;
  transition: all 0.4s ease;
}
.tag:hover {
  background: #fff;
  color: #000;
}
.page-header {
  margin: 42px 0;
  font-size: 32px;
  font-weight: 400;
}

/* Header (Navbar) Section Styles */
#header {
  width: 100%;
  height: 60px;
  box-shadow: 0px 3px 4px 0 rgba(0, 0, 0, 0.03);
}
#header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
#nav {
  display: flex;
  align-items: center;
}
#nav ul {
  display: flex;
  list-style: none;
}
#nav ul li {
  margin: 12px;
  line-height: 32px;
}
#nav ul li a:hover,
#site-logo:hover {
  color: #f7102b;
  transition: all 0.4s ease;
}
#site-logo {
  font-size: 19.5px;
  font-weight: 700;
}
#search-box {
  position: relative;
}
#search-box form input {
  height: 32px;
  padding: 7px;
  border: 1px solid rgb(188, 188, 188);
  border-radius: 4px;
  font-size: 13px;
  margin-left: 16px;
}
#search-box svg {
  position: absolute;
  right: 6px;
  top: 6px;
  font-size: 20px;
  color: #686868;
}

/* Featured Section Styles */
#featured {
  display: grid;
  grid-template-columns: repeat(3, 320px);
  grid-template-rows: 178px 178px;
  grid-column-gap: 4px;
  grid-row-gap: 4px;
  margin: 50px 0;
}

.featured-main {
  grid-column: 1 / 3;
  grid-row: 1 / 3;
  position: relative;
  overflow: hidden;
}
.featured-main figcaption h2 {
  width: 75%;
  font-size: 36px;
}
.featured-secondary {
  position: relative;
  top: 0;
  left: 0;
  overflow: hidden;
}

.featured-link a {
  display: block;
  height: 100%;
}
.featured-link img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.5;
}
.featured-link figcaption {
  position: absolute;
  left: 0;
  bottom: 0;
  color: #fff;
  padding: 12px;
  z-index: 10;
}
.featured-link figcaption span {
  font-style: italic;
}
.featured-link:hover .featured-overlay {
  background: rgba(0, 0, 0, 0.125);
}
.featured-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.465);
  transition: all 0.4s ease;
  z-index: 5;
}

/* Cards Layout and Styles */
.flex-layout {
  display: flex;
}

.cards {
  width: 715px;
}

.cards h2 {
  font-size: 14px;
  line-height: 32px;
  font-weight: 700;
  text-transform: uppercase;
  border-bottom: 1px solid #e6e6e6;
  border-top: 1px solid #e6e6e6;
  margin-bottom: 30px;
  padding: 0 14px;
  margin-right: 25px;
  margin-bottom: 28px;
  background: rgb(251, 251, 251);
  color: rgb(42, 42, 42);
}
.card-styles {
  margin-bottom: 30px;
  padding-bottom: 25px;
  border-bottom: 1px solid #e6e6e6;
  margin-right: 25px;
  display: flex;
  position: relative;
}

.card-topic {
  font-size: 12px;
  line-height: 17px;
  color: #8f9698;
  text-transform: uppercase;
  font-weight: 700;
}
.card-image {
  width: 220px;
  height: 123.75px;
  object-fit: cover;
  margin-right: 25px;
  cursor: pointer;
}
.card-image:hover {
  filter: grayscale(80%);
  transition: all 0.7s ease;
}
.card-styles figcaption h3 {
  color: #142025;
  font-size: 24px;
  cursor: pointer;
}
.card-styles figcaption h3:hover {
  color: #f7102b;
  transition: all 0.4s ease;
}

/* Sidebar Styles */
.sidebar {
  width: 353px;
  border-left: 1px solid #e6e6e6;
  padding-left: 25px;
}
.sidebar-header {
  background: #000;
  color: #fff;
  font-size: 12px;
  line-height: 34px;
  text-transform: uppercase;
  margin-bottom: 14px;
  padding: 0 14px;
  font-weight: 700;
}
.sidebar-emails {
  background: rgb(249, 250, 251);
  padding: 36px;
  text-align: center;
  margin-top: 28px;
  margin-bottom: 44px;
  border: 1px solid rgb(212, 212, 212);
  border-radius: 4px;
}
.sidebar-emails h2 {
  font-size: 26px;
  line-height: 39px;
  color: #4d4d4d;
  margin-bottom: 22px;
}
.sidebar-emails p {
  font-size: 14px;
  line-height: 21px;
  color: #686868;
  margin-bottom: 21px;
}
.sidebar-emails input[type="text"] {
  padding: 12px;
  height: 32px;
  font-size: 15px;
  line-height: 21px;
  color: #000;
  margin-bottom: 16px;
  width: 100%;
  border: 1px solid rgb(212, 212, 212);
  border-radius: 2px;
}
.sidebar-emails input[type="submit"] {
  background: #f8d13e;
  color: #58594c;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 700;
  border: none;
  padding: 8px 28px;
  width: 100%;
  margin-bottom: 12px;
  border-radius: 2px;
  cursor: pointer;
}
.sidebar-emails input[type="submit"]:hover {
  background: #f6c920;
}
.sidebar-emails span {
  font-size: 11px;
  color: #4d4d4d;
}

/* Small Cards Styles (Sidebar) */
.card-small-styles {
  display: flex;
  padding: 16px 0;
  border-bottom: 1px solid #eee;
}
.card-small-image {
  width: 104px;
  height: 58.5px;
  margin-right: 18px;
}
.card-small-image:hover {
  filter: grayscale(80%);
  transition: all 0.7s ease;
}
.card-small-styles h3 {
  font-size: 14px;
  color: #161616;
}
.card-small-topic {
  font-size: 11px;
  color: #4d4d4d;
  text-transform: uppercase;
}
.card-small-styles figcaption h3:hover {
  color: #f7102b;
  transition: all 0.4s ease;
}

/* Footer Styles */
footer {
  background: black;
  color: white;
  width: 100%;
  min-height: 120px;
  margin-top: 60px;
}
#footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 120px;
}
.footer-logo {
  font-size: 2.4rem;
  font-weight: 700;
  padding: 3rem 0 1rem 0;
  width: 100%;
  border-bottom: 1px solid grey;
}
.footer-social {
  width: 50%;
  font-size: 1.8rem;
  font-weight: 700;
}
.footer-social-text {
  color: rgba(255, 255, 255, 0.5);
  font-size: 21px;
}
.footer-social-icons {
  display: flex;
  margin-top: 10px;
  width: 26px;
  height: 26px;
  cursor: pointer;
}
.icon-container {
  border-radius: 50%;
  width: 38px;
  height: 38px;
  background-color: rgb(68, 66, 74);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 8px;
}
.icon-container {
  color: #fff;
  transition: all 0.3s;
}
#tw-icon:hover {
  background-color: #1da1f2;
}
#fb-icon:hover {
  background-color: #3b5999;
}
#yt-icon:hover {
  background-color: #ff0000;
}
#li-icon:hover {
  background-color: #0077b5;
}

/* Blog Post Styles */
#article {
  width: 740px;
  margin: 40px auto;
}
.article-title {
  font-weight: 400;
}
.article-date {
  font-size: 16px;
  line-height: 22px;
  margin-top: 7px;
}
.article-tags {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
}
.article-image {
  height: 416.25px;
  margin: 40px 0;

  @media (max-width: 600px) {
    height: 24rem;
  }
}
.article-markdown h2,
.article-markdown h3 {
  margin-top: 40px;
}
.article-markdown p {
  margin-bottom: 30px;
}

/* Topics Page Styles */
.topic-page-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 60px 0;
}
.topic-page-header h1 {
  margin-right: 24px;
}
.topic-page-image {
  width: 90px;
  height: 90px;

  @media (max-width: 600px) {
    width: 60px;
    height: 60px;
  }
}

/* About Page Styles */
#about {
  min-height: 420px;
}
#about h3 {
  margin: 40px 0 20px 0;
}
#about p {
  margin-bottom: 20px;
}
.about-icons {
  font-size: 36px;
  margin: 20px 0 60px 0;
}
/* Archive Pagination Styles */
#archive-link {
  display: flex;
  align-items: center;
  font-size: 16px;
  line-height: 30px;
  width: 620px;
  margin-top: 20px;
  justify-content: flex-end;
}
#archive-link:hover {
  color: #f7102b;
  transition: all 0.4s ease;
}
.pagination-links {
  margin: 0 auto;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.pagination-link {
  display: flex;
  align-items: center;
  width: 84px;
}
.pagination-link:hover {
  color: #f7102b;
  transition: all 0.4s ease;
}
.pagination-details {
  color: #000;
  font-size: 17px;
  min-width: 154px;
  max-width: 197px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pagination-disabled {
  pointer-events: none;
  color: rgb(200, 200, 200);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 84px;
}
.icon-left {
  margin-right: 8px;
}
.icon-right {
  margin-left: 8px;
}
.icon-fix {
  transform: translateY(1px);
}
